# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Network Landing Zone Platform"

# Security
SECRET_KEY=networklandingzonesecret123
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Provider Credentials (Simulation)
AWS_PROFILE=network-lz-admin
AZURE_SUBSCRIPTION_ID=azure-lz-sub-123
GCP_PROJECT_ID=gcp-lz-network-project

# Database
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=network_lz_db

# Redis / Queue
REDIS_HOST=localhost
REDIS_PORT=6379

# Network Environment Defaults
LZ_ENVIRONMENT=staging # dev, staging, prod
DEFAULT_HUB_REGION=us-east-1
DEFAULT_VPC_CIDR=10.0.0.0/16

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
